*.a
*.o
*~
.DS_Store
.deps
.ninja_log
Doxyfile
Makefile
Makefile.in
SoundClient.app
_build_
aclocal.m4
all_gtests
autom4te.cache
benchmark_sample
boost_program_options_sample
build
build.ninja
build.ninja.in
build.ninja.yaml.erb
c1
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/sample Project
data/sound_data_sample.bin
depcomp
g1
gtest-1.7.0
install-sh
line_segment_2d_benchmark
map_benchmark
memory_allocator_test
missing
net_test
net_test.sh
observer_benchmark
oscillator_sample
pcap_sample
peg_sample
peg_sample2
peg_test.sh
s1
s2
sdl_event_sample
sdl_event_sample2
sdl_opengl_sample
serial_number_test
smf_play
sound_server
stamp-h1
test-driver
udp_sample
vector_length_benchmark
wx_sample.app
xcuserdata
/junk_msvc11/*.opensdf
/junk_msvc11/*.sdf
/junk_msvc11/*.suo
/junk_msvc11/Debug
/junk_msvc11/Release
/junk_msvc11/Win32
/junk_msvc11/junk/*.filters
/junk_msvc11/junk/Debug
/junk_msvc11/junk/Release
/junk_msvc11/junk_test/*.filters
/junk_msvc11/junk_test/*.user
/junk_msvc11/x64
