<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>wx_sample</string>
    <key>CFBundleIconFile</key>
    <string>wx_sample.icns</string>
    <key>CFBundleName</key>
    <string>wx_sample</string>
    <key>CFBundleIdentifier</key>
    <string>jp.moonrock.junk.wx_sample</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0</string>
    <key>CFBundleGetInfoString</key>
    <string>wx_sample, Version 0.0, moonrock.jp</string>
  </dict>
</plist>
